doctype html
html
	head
		meta(http-equiv='Content-Type' content='text/html; charset=utf-8')
		meta(name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0')
		link(type='text/css' rel='stylesheet' href='./resources/css/style.css')
		link(type='text/css' rel='stylesheet' href='./bower_components/materialIcons/materialIcons.css')
		script(type='text/javascript' src='./resources/js/app.min.js')
		title Transmission Web Interface
	body.grey.darken-4
		section.fixed-action-btn.floatingOptions.click-to-toggle
			a.btn-floating.btn-large.purple.hover(data-type='settings')
				i.large.material-icons settings
			ul
				li
					a.btn.btn-floating.waves-effect.waves-light.cyan.credits
						i.material-icons person
				li
					a.btn.btn-floating.waves-effect.waves-light.brown.settings
						i.material-icons settings_applications
				li
					a.btn.btn-floating.waves-effect.waves-light.red.speedLimitMode
						i.material-icons network_check
				li
					a.btn.btn-floating.waves-effect.waves-light.teal.addTorrent
						i.material-icons note_add

		section.fixed-action-btn.floatingActions.click-to-toggle
			a.btn-floating.btn-large.purple.hover(data-type='actions')
				i.large.material-icons open_in_browser
			ul
				li
					a.btn.btn-floating.waves-effect.waves-light.green(data-action='Start')
						i.material-icons play_arrow
				li
					a.btn.btn-floating.waves-effect.waves-light.red(data-action='Pause')
						i.material-icons stop
				li
					a.btn.btn-floating.waves-effect.waves-light.light-blue(data-action='Verify')
						i.material-icons done_all
				li
					a.btn.btn-floating.waves-effect.waves-light.teal(data-action='Ask tracker for more peers')
						i.material-icons update
				li
					a.btn.btn-floating.waves-effect.waves-light.red(data-action='Remove')
						i.material-icons delete

		section.topBar.blue.darken-3.grid-container
			p.mobile-grid-100.tablet-grid-50.grid-40 Transmission Web Interface
			p.mobile-grid-100.tablet-grid-50.grid-60.additionalData
				span.statistics STATISTICS
				span.bandwidth BANDWIDTH
				// span.timeNow DATE

		section.header.blue.darken-2
			span Filter torrents by... 

			ul
				li.active(data-href='all')
					a All
				li(data-href='downloading')
					a Downloading
				li(data-href='seeding')
					a Seeding
				li(data-href='idling')
					a Idling
				li(data-href='queued')
					a Queued
				li(data-href='paused')
					a Paused
				li(data-href='errored').hidden
					a Errored

		section.torrentPagination
			button.btn.waves-button.waves-effect.white.previousPage.black-text
				i.material-icons.left keyboard_arrow_left
				| Prev Page
			button.btn.waves-button.waves-effect.cyan.darken-1.pageInfo.white-text
				| Page 
				span.currentPage
				|  of 
				span.totalPages
			button.btn.waves-button.waves-effect.white.nextPage.black-text
				i.material-icons.right keyboard_arrow_right
				| Next Page

		section.torrentSearch.grid-container
			section.input-field
				input.search.mobile-grid-100.tablet-grid-100.grid-100.white-text#search(type='text' autocomplete='off')
				label(for='search') Search Torrent...

		section.parachute.hidden

		section.torrentsContainer
			section.torrents.grid-container

		section.sidebar
			section.torrentInformation
				section.head
					h3
						| Torrent Information
						span.showOnMobile
							|  - 
							span.torrentName
							i.material-icons.closeSidebar close

					hr

					ul.tabs.tabs-fixed-width
						li.tab
							a(href='#information').active Information
						li.tab
							a(href='#activity') Activity
						li.tab
							a(href='#trackers') Trackers
						li.tab
							a(href='#peers') Peers
						li.tab
							a(href='#files') Files
						li.tab
							a(href='#options') Options

				section.tabContent
					section#information
						table
							tr
								td Size:
								td.size
							tr
								td Pieces:
								td.pieces
							tr
								td Hash:
								td.hash
							tr
								td Type:
								td.type
							tr
								td Comment:
								td.comment
							tr
								td Created with:
								td.createdWith

					section#activity
						table
							tr
								td Status:
								td.status
							tr
								td Progress:
								td.torrentProgress
							tr
								td Downloaded:
								td.downloaded
							tr
								td Uploaded:
								td.uploaded
							tr
								td Ratio:
								td.ratio
							tr
								td Download Speed:
								td
									span.downloadSpeed
									|  (from 
									span.downloadPeers
									|  peers)
							tr
								td Upload Speed:
								td
									span.uploadSpeed
									|  (from 
									span.uploadPeers
									|  peers)					

					section#trackers
						section.trackerSearch
							section.input-field
								input.search#search(type='text' autocomplete='off')
								label(for='search') Search Tracker...

						section.trackers

					section#peers
						table
							tr
								th.ipAddress IP Address
								th.client Client
								th.percentageDone %
								th.uploading Uploading
								th.downloading Downloading

					section#files

					section#options
						table
							tr
								td Download Directory:
								td 
									input(type='text' placeholder='Download Directory').downloadDirectory
							tr
								td Priority:
								td.priorityContainer
									span
										input#low(name='priority' type='radio').priority
										label(for='low') Low
									span
										input#normal(name='priority' type='radio').priority
										label(for='normal') Normal
									span
										input#high(name='priority' type='radio').priority
										label(for='high') High

							tr
								td Stop Seeding At:
								td 
									input(type='text' placeholder='Stop Seeding At').stopSeedingAt
							tr
								td Limit Download Speed:
								td
									.switch.downloadSpeedToggle
										label
											| Off
											input(type='checkbox')
											span.lever
											| On
									input(type='text' placeholder='Limit Download Speed').downloadSpeed
									|  kB/s
							tr
								td Limit Upload Speed:
								td
									.switch.uploadSpeedToggle
										label
											| Off
											input(type='checkbox')
											span.lever
											| On
									input(type='text' placeholder='Limit Upload Speed').uploadSpeed
									|  kB/s
							tr
								td Maximum Connections
								td
									input(type='text').maxConnections

						a.btn.waves-button.waves-effect.teal.saveChanges Save Changes

			section.settings
				section.head
					h3 Settings
					span.closeTab

				table

				a.btn.waves-button.waves-effect.teal.updateSettingsButton Save Settings

			section.statistics
				section.head 
					h3 Statistics
					span.closeTab

				table
					tr
						td Active Torrents:
						td.activeTorrents
					tr
						td Paused Torrents:
						td.pausedTorrents
					tr
						td Total Downloaded:
						td.totalDownloaded
					tr
						td Total Uploaded:
						td.totalUploaded
					tr
						td Ratio:
						td.ratio
					tr
						td Uptime:
						td.uptime

			section.addTorrent
				section.head
					h3 Add Torrent...
				section.addTorrentForm
					.file-field.input-field
						.btn
							span File
							input(type='file' multiple).torrentFile
						.file-path-wrapper
							input.file-path.validate(type='text').torrentFilePathDisplay.grid-50
						input(name='torrentLink' placeholder='Torrent URL or magnet: link').torrentLink.grid-50
					input(type='checkbox')#startAutomatically
					label(for='startAutomatically' checked) Start Automatically
					section.buttonTray
						a.btn.waves-button.waves-effect.addTorrent Add Torrent

			section.removeTorrent
				section.head
					h3 Remove Torrent...
				section.removeTorrentForm
					p
						| Are you sure that you would like to remove 
						span.torrentString
						|  torrent
						span.plural s
						| ?

					input(type='checkbox')#deleteAllData
					label(for='deleteAllData' checked) Delete All Data
					section.buttonTray
						a.btn.waves-button.waves-effect.removeTorrent
							| Remove torrent
							span.plural s

			section.credits
				section.head
					h3 Credits

				section.body.grid-container
					section.grid-33
						img(src='https://www.gravatar.com/avatar/ff1da03edab7b33a3debf6c6ebf62b44?s=400')
						p
							| Edwin A. 
							a(href='https://theroyalstudent.com') (@theroyalstudent)
					section.grid-66
						h5 Special Thanks:
						ul
							li 
								a(href='http://bourbon.io') Bourbon
							li
								a(href='http://materializecss.com') MaterializeCSS
							li
								a(href='http://unsemantic.com') Unsementic

				hr
				section.footer
					p 
						| If you are keen to contribute, do check out the GitHub repository 
						a(href='https://github.com/theroyalstudent/layered') here
						| .
						br
					p
						| Do report bugs or feature requests 
						a(href='https://github.com/theroyalstudent/layered/issues') here
						|  if you find any, too.

		section.sidebarOverflow.hidden
			section.clickToClose
				section
					i.material-icons close
					h2 Click to close

		section.elements.hidden
			section.torrent.card.mobile-grid-100.tablet-grid-40.grid-48.unset.default
				section.card-content.white-text
					h3.torrentName.truncate
						span.name
						i.material-icons.closeSidebar.hidden close
						i.material-icons.toggle play_arrow
					p
						| Downloaded 
						span.downloaded
						| , uploaded 
						span.uploaded
						| , total 
						span.total
						|  (ratio: 
						span.uploadRatio
						| )
					section.progress
						section.determinate
					p.message
				section.card-action
					a.getMoreDetails More Details...
					a.selectTorrent Select...
