doctype html
html
	head
		meta(http-equiv='Content-Type' content='text/html; charset=utf-8')
		meta(name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0')
		link(type='text/css' rel='stylesheet' href='./resources/css/style.css')
		link(type='text/css' rel='stylesheet' href='./resources/css/icons.css')
		script(type='text/javascript' src='./resources/js/jquery.js')
		script(type='text/javascript' src='./resources/js/app.min.js')
		title Transmission Web Interface
	body.blue-grey.darken-3
		section.fixed-action-btn.floatingOptions.click-to-toggle
			a.btn-floating.btn-large.waves-button.waves-effect.waves-light.purple.hover
				i.large.material-icons settings
			ul
				li
					a.btn-floating.btn-large.waves-effect.waves-light.cyan.credits(data-position="left" data-delay="50" data-tooltip="Credits").tooltipped
						i.material-icons person
				li
					a.btn-floating.btn-large.waves-effect.waves-light.brown.settings(data-position="left" data-delay="50" data-tooltip="Settings").tooltipped
						i.material-icons settings_applications
				li
					a.btn-floating.btn-large.waves-effect.waves-light.red.speedLimitMode(data-position="left" data-delay="50" data-tooltip="Speed Limit Mode").tooltipped
						i.material-icons network_check
				li
					a.btn-floating.btn-large.waves-effect.waves-light.teal.addTorrent(data-position="left" data-delay="50" data-tooltip="Add Torrent").tooltipped
						i.material-icons note_add

		section.fixed-action-btn.floatingActions.click-to-toggle
			a.btn-floating.btn-large.waves-button.waves-effect.waves-light.purple.hover
				i.large.material-icons open_in_browser
			ul
				li
					a.btn-floating.btn-large.waves-effect.waves-light.green(data-position="left" data-delay="50" data-tooltip="Start").tooltipped
						i.material-icons play_arrow
				li
					a.btn-floating.btn-large.waves-effect.waves-light.red(data-position="left" data-delay="50" data-tooltip="Pause").tooltipped
						i.material-icons stop
				li
					a.btn-floating.btn-large.waves-effect.waves-light.light-blue(data-position="left" data-delay="50" data-tooltip="Verify").tooltipped
						i.material-icons done_all
				li
					a.btn-floating.btn-large.waves-effect.waves-light.teal(data-position="left" data-delay="50" data-tooltip="Ask tracker for more peers").tooltipped
						i.material-icons update
				li
					a.btn-floating.btn-large.waves-effect.waves-light.red(data-position="left" data-delay="50" data-tooltip="Remove").tooltipped
						i.material-icons delete

		section.topBar.indigo.grid-container
			p.mobile-grid-100.tablet-grid-50.grid-40 Transmission Web Interface
			p.mobile-grid-100.tablet-grid-50.grid-60.additionalData
				span.statistics STATISTICS
				span.bandwidth BANDWIDTH
				// span.timeNow DATE

		section.header.indigo.lighten-1
			span Filter torrents by... 

			ul
				li.active(data-href='all')
					a All
				li(data-href='downloading')
					a Downloading
				li(data-href='seeding')
					a Seeding
				li(data-href='idling')
					a Idling
				li(data-href='paused')
					a Paused
				li(data-href='errored').hidden
					a Errored

		section.torrentPagination
			a.btn.waves-button.waves-effect.white.previousPage.black-text
				i.material-icons.left keyboard_arrow_left
			a.btn.waves-button.waves-effect.teal.pageInfo.white-text
				| Page 
				span.currentPage
				|  of 
				span.totalPages
			a.btn.waves-button.waves-effect.white.nextPage.black-text
				i.material-icons.right keyboard_arrow_right

		section.search.grid-container
			input.search.mobile-grid-100.tablet-grid-100.grid-100(type='text' placeholder='Search...' autocomplete='off')

		section.parachute.hidden

		section.torrents.grid-container

		section.sidebar
			section.head
				h3
					| Torrent Information
					span.showOnMobile
						|  - 
						span.torrentName
						i.material-icons.closeSidebar close

				hr

				ul.tabs.grid-container
					li.tab.grid-20
						a(href='#information').active Information
					li.tab.grid-20
						a(href='#activity') Activity
					li.tab.grid-20
						a(href='#trackers') Trackers
					li.tab.grid-10
						a(href='#peers') Peers
					li.tab.grid-10
						a(href='#files') Files
					li.tab.grid-20
						a(href='#options') Options

			section.tabs
				section#information
					table
						tr
							td Size:
							td.size
						tr
							td Pieces:
							td.pieces
						tr
							td Hash:
							td.hash
						tr
							td Type:
							td.type
						tr
							td Comment:
							td.comment
						tr
							td Created with:
							td.createdWith

				section#activity
					table
						tr
							td Status:
							td.status
						tr
							td Progress:
							td.progress
						tr
							td Downloaded:
							td.downloaded
						tr
							td Uploaded:
							td.uploaded
						tr
							td Ratio:
							td.ratio
						tr
							td Download Speed:
							td
								span.downloadSpeed
								|  (from 
								span.downloadPeers
								|  peers)
						tr
							td Upload Speed:
							td
								span.uploadSpeed
								|  (from 
								span.uploadPeers
								|  peers)					

				section#trackers

				section#peers
					table
						tr
							th.ipAddress IP Address
							th.client Client
							th.percentageDone %
							th.uploading Uploading
							th.downloading Downloading

				section#files

				section#options
					table
						tr
							td Download Directory:
							td 
								input(type='text' placeholder='Download Directory').downloadDirectory
						tr
							td Priority:
							td.priorityContainer
								span
									input#low(name='priority' type='radio').priority
									label(for='low') Low
								span
									input#normal(name='priority' type='radio').priority
									label(for='normal') Normal
								span
									input#high(name='priority' type='radio').priority
									label(for='high') High

						tr
							td Stop Seeding At:
							td 
								input(type='text' placeholder='Stop Seeding At').stopSeedingAt
						tr
							td Limit Download Speed:
							td
								.switch.downloadSpeedToggle
									label
										| Off
										input(type='checkbox')
										span.lever
										| On
								input(type='text' placeholder='Limit Download Speed').downloadSpeed
								|  kB/s
						tr
							td Limit Upload Speed:
							td
								.switch.uploadSpeedToggle
									label
										| Off
										input(type='checkbox')
										span.lever
										| On
								input(type='text' placeholder='Limit Upload Speed').uploadSpeed
								|  kB/s
						tr
							td Maximum Connections
							td
								input(type='text').maxConnections

					a.btn.waves-button.waves-effect.teal.saveChanges Save Changes

		section.sidebarOverflow.hidden
			section.clickToClose
				i.material-icons close
				h2 Click to close

		section.settingsSidebar
			section.head
				h3 Settings
				span.closeTab

			table

			a.btn.waves-button.waves-effect.teal.updateSettingsButton Save Settings

		section.statisticsSidebar
			section.head 
				h3 Statistics
				span.closeTab

			table
				tr
					td Active Torrents:
					td.activeTorrents
				tr
					td Paused Torrents:
					td.pausedTorrents
				tr
					td Total Downloaded:
					td.totalDownloaded
				tr
					td Total Uploaded:
					td.totalUploaded
				tr
					td Ratio:
					td.ratio
				tr
					td Uptime:
					td.uptime

		section.addTorrentFunctionality
			section.head
				h3 Add Torrent...
			section.addTorrentForm
				.file-field.input-field.grid-100
					.btn
						span File
						input(type='file').torrentFile
					.file-path-wrapper
						input.file-path.validate(type='text').grid-50
					input(name='torrentLink' placeholder='Torrent URL or magnet: link').torrentLink.grid-50
				input(type='checkbox')#startAutomatically
				label(for='startAutomatically' checked) Start Automatically
				section.buttonTray
					a.btn.waves-button.waves-effect.addTorrent Add Torrent

		section.removeTorrentFunctionality
			section.head
				h3 Remove Torrent...
			section.removeTorrentForm
				p
					| Are you sure that you would like to remove 
					span.torrentString
					|  torrent
					span.plural s
					| ?

				input(type='checkbox')#deleteAllData
				label(for='deleteAllData' checked) Delete All Data
				section.buttonTray
					a.btn.waves-button.waves-effect.removeTorrent
						| Remove torrent
						span.plural s

		section.credits
			section.head
				h3 Credits
			section
				p
					| Made by 
					a(href='https://theroyalstudent.com') @theroyalstudent
					| .

				p 
					| If you are keen to contribute, do check out the GitHub repository 
					a(href='https://github.com/theroyalstudent/layered') here
					| .